/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0f0f14;
  color: #ffffff;
  text-align: center;
}

main {
  padding-top: 80px;
}

/* FONTE PERSONALIZADA */
@font-face {
  font-family: "CLAIR";
  src: url("https://cdn.jsdelivr.net/gh/SEUUSUARIO/REPO/arquivo.woff2") format("woff2");
}

/* HEADER */
header {
  background: #000;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #b58cff;
}

/* SEÇÕES */
section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO */
.hero img {
  width: 100%;
  max-width: 1600px;
  height: auto;
  display: block;
}

.hero {
  padding: 0 !important;
}

/* SOBRE */
.sobre h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.sobre video {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 15px;
}

/* OBSCUR */
.obscur {
  padding: 5px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obscur img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
  margin: 10px auto;
}

.obscur h2 {
  font-family: "CLAIR", serif;
  color: #FFD700;
  font-size: 28px;
  margin-bottom: 10px;
}

/* PARÁGRAFOS */
.sobre p {
  max-width: 800px;
  width: 100%;
  line-height: 1.6;
  margin-bottom: 12px;
  padding: 0 15px;
}

/* TRAILER */
.trailer iframe {
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
  height: 450px;
  border-radius: 10px;
  border: none;
}

/* FOOTER */
footer {
  background: #000;
  padding: 20px;
  font-size: 14px;
}

/* TABLETS */
@media (max-width: 1024px) {
  nav {
    gap: 20px;
  }

  .sobre h2 {
    font-size: 28px;
  }

  .trailer iframe {
    height: 350px;
  }
}

/* CELULARES */
@media (max-width: 768px) {
  header {
    padding: 15px 10px;
  }

  nav {
    flex-direction: column;
    gap: 15px;
  }

  main {
    padding-top: 140px;
  }

  .hero img {
    width: 100%;
  }

  .sobre h2 {
    font-size: 24px;
  }

  .sobre p {
    font-size: 14px;
    padding: 0 10px;
  }

  .sobre video {
    width: 100%;
  }

  .trailer iframe {
    width: 100%;
    height: 250px;
  }

  .obscur h2 {
    font-size: 22px;
  }

  footer {
    font-size: 12px;
  }
}

/* CELULARES PEQUENOS */
@media (max-width: 480px) {
  nav a {
    font-size: 14px;
  }

  .sobre h2 {
    font-size: 20px;
  }

  .trailer iframe {
    height: 200px;
  }

  .sobre p {
    font-size: 13px;
  }
}
